body {
  font-family: Arial;
}

.content {
  background-color:powderblue;
}

.content p {
  font-family:"Ariel", sans-serif;
  color:black;
}

img {
  text-align: center;
}

.majtable {
  text-align: center;
  border-collapse: collapse;
  margin: auto;
}

/* major table headings */
.majh th {
  border: 1px solid black;
  background-color: dodgerblue;
}

/* major table data */
.majd td {
  border: 1px solid black;
  background-color:white;
}
